nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-b1, .nav-b2 {
    border: 1px solid gray;
    border-radius: 24px;
    padding: 2px 8px;
    margin: 0px 8px;
}

.nav-b2 {
    background: #04009A;
    color: white;
}

.nav-b2 button {
    color: white;
}

.table-btn {
    background: #04009A;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.table-btn button {
    color: white;
    font-weight: bold;
}

.color-green {
    color: green;
    font-weight: bold;
}

.active {
background: #04009A;
color: white;
border-radius: 20px;
}

.d-btn {
    border-radius: 20px;
    background: white;
}

.danger {
    color: red;
    border: 1px solid red;
    padding: 12px;
    margin-top: 16px;
    border-radius: 12px;
}

.input {
    border: 1px solid transparent;
    background: #FFFFFF;
}

.form-control {
    border: none;
}

.btn {
    border-radius: 24px !important;
}

.max-amount {
    background: #04009A;
    color: white;
}

.summary {
    background: #FFFFFF;
    padding: 24px;
}

.approve-btn {
    background: #04009A;
    color: #FFFFFF;
    width: 70%;
    margin: 16px 72px;
}

@media screen and (max-width: 768px) {
    main{
        display: none;
    }
    .col{
        padding: 0!important;
    }
    section {
        width: 100vw !important;
        margin: auto !important;
        padding: 0 !important;
    }
}